body, html{
    padding: 0;
    margin: 0;
}

.wholePage
{
    width: 100%;
    min-height: 100vh;
    height: auto;

    display: flex;
    flex-direction: row;
}

#textInputColumn
{
    width: 30%;

    display: flex; 
    align-items: center; 
    flex-direction: column;

    border-right: 1px solid black;
    padding-top: 20px;
}

#textBoxesColumn
{
    width: 70%;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
    padding: 10px;

    gap: 10px;
}

.box
{
    border: 1px solid black; 
    height: 4ch; 
    
    display: flex; 
    align-items: center; 
    justify-content: center; 
    
    width: auto;
    padding: 5px;
}