html, body
{
    padding: 0;
    margin: 0;
    height: 100%;

    background-color: black;
}

.mainHolder
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.box
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;

    background-color: white;

    box-shadow:
    inset 0 0 20px rgba(0, 0, 0, 0.35);
  
}

.underTextBox{
    display: flex; 
    align-items: center; 
    justify-content: center;

    background-color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

    
    height: 4ch;
    
}